<a href="https://colab.research.google.com/github/nikhilkoditala/CSC-8980-NLP/blob/main/NLP_HW_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Nikhil Koditala
# Panther ID: 002571023

In [1]:
import numpy as np
import pandas as pd

## 1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [2]:
# recursive function
def fact(n):
  if(n==1 or n==0):
    return 1
  return n*fact(n-1)

In [3]:
fact(10)

3628800

## 2. Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [4]:
def primecheck(n):
  if(n <= 1):
    print(n, ' is not a prime number')
    return
  i = 2
  while(i < n):
    if(n%i == 0):
      print(n, ' is not a prime number')
      return
    i += 1
  print(n, ' is a prime number')

In [5]:
primecheck(3)
primecheck(1251)

3  is a prime number
1251  is not a prime number

## 3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [6]:
def transpose(data):
  res = [[0 for col in range(len(data))] for row in range(len(data[0]))]

  for i in range(len(data)):
    for j in range(len(data[0])):
      res[j][i] = data[i][j]
  return res

In [7]:
data = [[1,0,0],[0,1,0],[0,0,1]]
print(transpose(data))

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

## 4. Using Pandas and Numpy, write a piece of code to combine two series into one.

In [8]:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

In [9]:
series1.append(series2)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

## 5. Using pandas, write a piece of code to convert the first character of each element in a series to uppercase.

In [10]:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [11]:
series.str.title()

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

## Bonus: Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions).

In [12]:
df = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [13]:
print(df)

   a  b  c  d
0  9  5  8  8
1  8  6  8  7
2  9  5  5  9
3  7  6  5  6
4  6  5  6  9

In [14]:
l = []
for col in df.columns:
  l.extend(df[col])

print(l)

[9, 8, 9, 7, 6, 5, 6, 5, 6, 5, 8, 8, 5, 5, 6, 8, 7, 9, 6, 9]

In [15]:
freq = {}
for num in l:
  if(num in freq): freq[num] += 1
  else: freq[num] = 1

print(freq)

{9: 4, 8: 4, 7: 2, 6: 5, 5: 5}