<a href="https://colab.research.google.com/github/nikhilkoditala/CSC-8980-NLP/blob/main/NLP_HW_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Name: Nikhil Koditala
# Panther ID: 002571023

In [1]:
import numpy as np
import pandas as pd

## 1. Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [2]:
# recursive function
def fact(n):
  if(n==1 or n==0):
    return 1
  return n*fact(n-1)

In [3]:
fact(10)

3628800

## 2. Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [4]:
def primecheck(n):
  if(n <= 1):
    print(n, ' is not a prime number')
    return
  i = 2
  while(i < n):
    if(n%i == 0):
      print(n, ' is not a prime number')
      return
    i += 1
  print(n, ' is a prime number')

In [5]:
primecheck(3)
primecheck(1251)

3  is a prime number
1251  is not a prime number

## 3. Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [13]:
def transpose(data):
  rows = 0
  coms = 0
  for i in data:
    rows += 1
  for j in data[0]:
    coms += 1

  res = [[0 for col in range(rows)] for row in range(coms)]

  for i in range(rows):
    for j in range(coms):
      res[j][i] = data[i][j]
  
  return res

In [14]:
data = [[1,0,0],[0,1,0],[0,0,1]]
print(transpose(data))

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

## 4. Using Pandas and Numpy, write a piece of code to combine two series into one.

In [15]:
def combine_series(series1,series2): 
  len_series1 = 0
  len_series2 = 0

  for i in series1:
    len_series1 += 1

  for i in series2:
    len_series2 += 1
  if(len_series1 > len_series2): 
    for i in series2:
      series1[i] = series1[i] + series2[i]
    return series1
  else:
    for i in series1:
      series2[i] = series1[i] + series2[i]
    return series2

In [17]:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))

print('Combined Series: \n',combine_series(series1, series2))

Combined Series:
 0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

## 5. Using pandas, write a piece of code to convert the first character of each element in a series to uppercase.

In [18]:
alphabets = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [19]:
def capitalize_first_char(word):
  char = word[0]
  for i in range(len(alphabets)):
    if(alphabets[i] == char): break

  if(i < 26): return alphabets[i+26] + word[1:]
  return word

In [21]:
def uppercase_series(series):
  series_len = 0
  for i in series:
    series_len += 1

  for i in range(series_len):
    series[i] = capitalize_first_char(series[i])

  return series

In [22]:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [23]:
uppercase_series(series)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

## Bonus: Using pandas, write a piece of code to get the frequency of unique values in the entire dataframe (not using built in functions).

In [24]:
df = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [25]:
print(df)

   a  b  c  d
0  9  5  8  8
1  8  6  8  7
2  9  5  5  9
3  7  6  5  6
4  6  5  6  9

In [26]:
freq = {}
for col in df:
  for num in df[col]:
    if(num in freq): freq[num] += 1
    else: freq[num] = 1

In [27]:
freq

{5: 5, 6: 5, 7: 2, 8: 4, 9: 4}